.banner {
  height: 22.3rem;
  position: relative;
  border-radius: 2.5rem;
  margin-top: 6.874rem;
}
.banner::after {
  /* filter */
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2.5rem;
  background: rgba(0, 0, 0, 0.3);
}
.banner_img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2.5rem;
}
.banner p {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 6.845rem;
  text-align: center;
  color: #fff;
  z-index: 1;
}

/*** Medias Queries ***/
@media screen and (max-width: 1040px) {
  .banner p {
    position: absolute;
    top: 30%;
    left: 0%;
    transform: translate(0%, 0%);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 6.845rem;
  }
}
@media screen and (max-width: 576px) {
  .banner {
    height: 11.1rem;
    border-radius: 1rem;
    margin-top: 2rem;
  }
  .banner::after {
    border-radius: 1rem;
  }
  .banner p {
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 2.4rem;
    text-align: left;
    margin-left: 1.6rem;
  }
  .banner_img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
  }
}

@media screen and (max-width: 425px) {
  .banner p{
    width: 65%;
    padding-left: 1rem;
  }
}

@media screen and (max-width: 380px) {
  .banner_img {
    object-position: -120px 0px;
  }

  .banner p{
    width: 74%;
    padding-left: 1rem;
  }
}

@media screen and (max-width: 364px) {
  .banner p{
    position: absolute;
    top: 20%;
    left: 0%;
    width: 80%;
    padding-left: 1rem;
  }
}